<div class="container ">
  <div class="span12">
    <input id="searchTextInput" type="text" name="input" [(ngModel)]="searchText" placeholder="Enter Text here"
      (ngModelChange)=searchTextChange()>
      <br/>
      <br/>
      <br/>

      <div *ngFor="let human of humanResults">
        <div class="row border rounded">
          <div class="row">
            <h3>{{human.Title}}</h3>
            <h3>{{human.Description}}</h3>
          </div>
          <div class="row">
            <p class="col-3">Date Of Birth: {{human.DateOfBirth | date:'fullDate'}}</p>
            <p class="col-3">Birth Place: {{human.BirthLocation}}</p>
            <p class="col-3">Country Of Citizenship: {{human.CountryOfCitizenshipLabel}}</p>
            <p class="col-3">Sex: {{human.Sex}}</p>
            <p class="col-3">Residence: {{human.Residence}}</p>
            <p class="col-3">EducatedAt: {{human.EducatedAt}}</p>
          </div>
          <div class="row">
            <p class="col-3">Height: {{human.Height}}</p>
            <img [src]="human.Image" height="42" width="42">
            <p> Spouse:
              <a class="col-3" *ngIf="human.SpouseHasWiki; else spouseName" (click)=searchForSpouse(human.SpouseName) href="#">{{human.SpouseName}}</a>
              <ng-template #spouseName>
                  {{human.SpouseName}}
              </ng-template>
            </p>
          </div>
        </div>
        <br/>
      </div>

      <br/>
      <br/>
      <br/>
  </div>
</div>
