  <div class="span12 margins-5">
    <input id="searchTextInput" type="text" name="input" [(ngModel)]="searchText" placeholder="Enter Text here"
      (ngModelChange)=searchTextChange()>
      <br/>
      <br/>

      <div *ngFor="let human of humanResults">
        <div class="row result-border text-left">
          <div class="col-9">
            <label class="col-12 font-weight-bold margin-top-sm margin-bottom-0">{{human.Title}}</label>
            <label class="col-12">{{human.Description}}</label>
            <div>
              <label class="col-6">Date Of Birth: {{human.DateOfBirth | date:'dd MMMM yyyy G'}}</label>
              <label class="col-6 text-capitalize">Sex: {{human.Sex}}</label>
            </div>
            <div>
              <label class="col-6">Birth Place: {{human.BirthLocation}}</label>
              <label class="col-6">Country Of Citizenship: {{human.CountryOfCitizenshipLabel}}</label>
            </div>
            <div>
              <label class="col-12 text-left">Height: {{human.Height}}</label>
              <p> Spouse:
                <label *ngFor="let spouse of human.Spouse;">
                  <a class="col-12" *ngIf="spouse.HasLink; else spouseName" (click)=searchForSpouse(spouse.Label) href="#">{{spouse.Label}}</a>
                  <ng-template #spouseName>
                      {{spouse.Label}}
                  </ng-template>
                </label>

              </p>
              <label class="col-12">Residence: {{human.ResidenceLabel}}</label>
              <label class="col-12">Educated At: {{human.EducatedAtLabel}}</label>
            </div>
          </div>
          <div class="col-3" style="max-width:250px;">
            <img [src]="human.Image">
          </div>
          <br/>
          <div class="row">
          </div>

        </div>
        <br/>

      </div>

      <br/>
      <br/>
      <br/>
  </div>
